@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
	font-family: system-ui, -apple-system, sans-serif;
}

body {
	background: efefee;
	margin: 0;
}

header {
	display: flex;
	font-family: 'Press Start 2P', system-ui;
	font-weight: 400;
	font-style: normal;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1rem;

	& :is(nav, .user) {
		display: flex;
		gap: 1rem;
	}

	.user {
		font-size: 0.75rem;
		padding-block-start: 1rem;
	}

	& a {
		color: #221;
		text-decoration: none;
	}

	& p {
		margin: 0;
	}
}

main {
	max-inline-size: 90cqi;
	margin-inline: auto;
}

.items {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin: 2rem 0;
}

.item {
	background: #ffe;
	border: 1px solid #eaeaee;
	border-radius: 0.5rem;
	padding: 1rem;
	inline-size: 350px;

	& h2 {
		font-size: 1rem;
	}
}

:is(h1, h2) {
	font-family: 'Press Start 2P', system-ui;
	font-weight: 400;
	font-style: normal;
}
